.paymentline .payment-transaction-id {
    flex-grow: 1;
    /* make the name of the payment line to be truncated with ellipsis */
    white-space: nowrap;
    text-overflow:ellipsis;
    padding: map-get($spacers, 3);
}

.paymentmethod .payment-transaction-id {
    flex-grow: 1;
    padding: map-get($spacers, 3);
}

.payment-transaction-id.select{
    font-weight: bold;
    color: $primary;
}


.pos .close-pos-popup .payment-starting-summary {
    max-height: 320px;
    overflow: auto;
}

.pos .close-pos-popup .payment-starting-summary table {
    width: 100%;
    text-align: left;
}

.pos .close-pos-popup .payment-starting-summary table tr {
    height: 35px
}

.table-50{
    width: 50%;
}
